body {
    text-align: center;
    background-color: #2c2c2c;
    color: white;
    margin: 0;
  }
  
  #testCanvas {
    display: block;  /* 기본적으로 canvas는 inline 요소이므로 block으로 설정 */
    padding-top: 2%;
    margin: 0 auto;  /* 화면 가운데 정렬 */
    justify-self: center;
  }
  