html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #0a0f18, #06080d);
}

#mainCanvas {
    display: block;
    margin: 0 auto;
    cursor: none;
    z-index: 1;
    position: relative;
}

/* rainG.js */
.rain {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
}

.back-row .rain {
    z-index: 0;
}

.drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
}

.front-row .drop {
    height: 80px;
    opacity: 1.0;
}

.back-row .drop {
    height: 80px;
    opacity: 0.8;
}

.start-row1 .drop {
    height: 80px;
    opacity: 0.6;
}

.start-row2 .drop {
    height: 80px;
    opacity: 0.4;
}

.start-row3 .drop {
    height: 80px;
    opacity: 0.2;
}


@keyframes drop {
    0% {
        transform: translateY(0vh);
    }

    75% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(100vh);
    }
}

.stem {
    width: 2px;
    height: 90%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s linear infinite;
}

.front-row .stem {
    opacity: 1.0;
}

.back-row .stem {
    opacity: 0.8;
}

.start-row1 .stem {
    opacity: 0.6;
}

.start-row2 .stem {
    opacity: 0.4;
}

.start-row3 .stem {
    opacity: 0.2;
}


@keyframes stem {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.splat {
    position: relative;
    border-radius: 100%;
    opacity: .8;
    transform: scale(0);
    animation: splat 0.5s linear infinite;
    border: 1px solid rgba(255, 255, 255);
}

.front-row .splat {
    width: 30px;
    height: 10px;
}

.back-row .splat {
    width: 25px;
    height: 9px;
}

.start-row1 .splat {
    width: 20px;
    height: 6px;
    opacity: .7;
}

.start-row2 .splat {
    width: 15px;
    height: 3px;
    opacity: .4;
}

.start-row3 .splat {
    width: 10px;
    height: 2px;
    opacity: .3;
}



@keyframes splat {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    80% {
        opacity: 1;
        transform: scale(0);
    }

    90% {
        opacity: 0.5;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.9);
    }
}


/* prelogue */
#initial-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #0a0f18, #06080d);
    backdrop-filter: blur(10px);
}

#start-button {
    margin-top: 10%;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 15px;
    padding: 40px;
    cursor: pointer;
    transform: rotate(45deg);
    transition: all 0.3s ease;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

#start-button:hover {
    background: rgba(255, 255, 255, 0.6);
    transform: rotate(0deg);
}

#speaker-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

#speaker-button:hover {
    background: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
}

#speaker-button img {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
}

#speaker-icon {
    display: block;
}